@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
.h-img {
  float: right;
}
.h-h1 {
  float: left;
  font-family: "Roboto Slab", serif;
  margin-left: 2px;
  position: relative;
  top: 5px;
}
.sbox1 ul li {
  display: inline-block;
  padding-right: 10px;
}
.sbox1 ul li h3 {
  position: relative;
  top: 5px;
}
.sbox1 {
  position: relative;
  color: #fff;
  background-color: #130f40;
  padding-left: 15px;
  padding-top: 10px !important;
  padding-bottom: 5px;
}
.header {
  padding: 15px 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.sbox2 ul li {
  display: inline-block !important;
  padding: 0px 5px;
  margin-top: 10px;
}
.sbox2 {
  padding-left: 15px;
}
.mainbox {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px black solid;
}
.table {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-top: none !important;
  color: #ffffff;
}
.table td,
th {
  border-top: none !important;
}
.tr1 {
  background-color: #130f40;
  color: #ffffff;
}
.field {
  margin: 0 auto;
  text-align: center;
}
.btn-cont {
  text-align: center;
  padding-bottom: 20px;
}
.btn-submit {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border-color: transparent !important;
}
.btn-submit:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.body-sty {
  margin: 2%;
  display: block;
  box-shadow: 1px 1px 1px 1px #888888;
}
.clg {
  font-size: 37px;
  position: relative;
  top: 7px;
}
.down-btn {
  float: right;
  margin-right: 5%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.logout {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  bottom: 5px;
  /* left: 5px; */
  font-family: "Texturina", serif;

  /* font-size: 0.875rem; */
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  /* text-transform: none; */
  will-change: transform;
}
.logout:hover {
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 2px 6px;
}

.logoutbt {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  color: #525f7f;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}
.p-a {
  font-weight: 600 !important;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}
.body-sty {
  background: url(https://cdn.pixabay.com/photo/2017/09/07/17/27/background-2726039_1280.png);
  object-fit: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background: rgba(255, 255, 255, 0.25); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: #ffffff;
}
.exportbox {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 20px;
}

.dropbtn {
  color: white;
  /* padding: 6px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 73px;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.fromto {
  margin-left: 5%;
  margin-right: 5%;
  padding: 7px;
  margin-top: 6px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
