@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
.h-img {
  float: right;
}
.h-h1 {
  float: left;
  font-family: "Roboto Slab", serif;
  margin-left: 2px;
  position: relative;
  top: 5px;
}
.sbox1 ul li {
  display: inline-block;
  padding-right: 10px;
}
.sbox1 ul li h3 {
  position: relative;
  top: 5px;
}
.sbox1 {
  position: relative;
  color: #fff;
  background-color: #130f40;
  padding-left: 15px;
  padding-top: 10px !important;
  padding-bottom: 5px;
}
.header {
  padding: 15px 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.sbox2 ul li {
  display: inline-block !important;
  padding: 0px 5px;
  margin-top: 10px;
}
.sbox2 {
  padding-left: 15px;
}
.mainbox {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px black solid;
}
.table {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.tr1 {
  background-color: #130f40;
  color: #ffffff;
}
.field {
  margin: 0 auto;
  text-align: center;
}
.btn-cont {
  text-align: center;
  padding-bottom: 20px;
}
.body-sty {
  margin: 2%;
  display: block;
  box-shadow: 1px 1px 1px 1px #888888;
}
.clg {
  font-size: 37px;
  position: relative;
  top: 7px;
}
.down-btn {
  float: right;
  margin-right: 5%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.logout {
  color: #130f40;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  bottom: 5px;
  /* left: 5px; */
  font-family: "Texturina", serif;

  /* font-size: 0.875rem; */
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  /* text-transform: none; */
  will-change: transform;
}
.logout:hover {
  color: #130f40;
  text-decoration: none;
}

.logoutbt {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  color: #525f7f;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}
